
.grid {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); /* Як я писав в минулих уроках, необовязково в html створювати сітку, вона і так зявиться, через цю строчку css */
}

.grid-item1 {
    background-color: red;

    /* В мене сітка 3х3. Цим я запихую першу плитку вниз-вправо */
    grid-column-start: 3; /* Перша плитка почнеться з 3-ї колонки */
    grid-column-end: 4; /* Перша плитка і закінчиться перед 4-ю */
    grid-row-start: 3; /* Перша плитка почнеться з 3-ї лінії */
    grid-row-end: 4; /* Перша плитка і закінчиться перед 4-ю */

    /* Цей запис можна скоротити за допомогою запису
    grid-column: 3 / 4; (колонка з якої починається / колонка перед якою закінчується)
    grid-row: 3 / 4; (строка з якої починається / строка перед якою закінчується)
    */

    /* Але і цей запис можна скоротити
     grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end;
     */
}

.grid-item2 {
    background-color: green;
}

.grid-item3 {
    background-color: blue;
}